@font-face {
   font-family: 'Adobe Garamond Pro Regular 2';
   src: url('Adobe Garamond Pro Regular 2/font.ttf');
}
@font-face {
   font-family: 'helvetica-neue-bold-2';
   src: url('helvetica-neue-bold-2/font.ttf');
}
@font-face {
   font-family: 'Neue Haas Unica W01 Thin';
   src: url('Neue Haas Unica W01 Thin/font.ttf');
}
